<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>about</title>
    </head>

    <body>
        <center>
            <h1>About</h1>
            <p>
                news-app is an simple automation tool written in python.
                it will scraps the internet for latest tech news and
                you can register your email id with us.then, you will
                receive those news right in your mail box , daily.
            </p>
        </center>
    </body>

</html>