<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success</title>
    </head>
    <style>
        body {
            background-color: #00FF00;
        }

        #caution {
            color: #FF0000;
        }
    </style>

    <body>
        <center>
            <h1>
                Your Mail id is Successfully Registered With us.
            </h1>
            <h1 id="caution">
                Please Also Check your Spam box and mark not as spam !!!
            </h1>
        </center>
    </body>

</html>